<div class="content">
  <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
    <aw-wizard-step [stepTitle]="'Funcionario'">
      <div class="centered-content">
        <div class="card">
          <div class="card-header">
            <div [formGroup]="formulario" class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Funcionario </label>
                  <input
                    class="form-control"
                    readonly
                    placeholder=""
                    type="text"
                    value="{{ funcionario?.nome }}"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Serviço </label>
                  <input
                    class="form-control"
                    readonly
                    placeholder=""
                    type="text"
                    value="{{ servico?.nome }}"
                  />
                </div>
              </div>
            </div>
            <h4 class="title">Escolha Funcionário</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let coluna of colunasUsuario" scope="col">
                      {{ coluna }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td>
                      <button
                        type="button"
                        class="btn-sm btn-success"
                        (click)="selecionarFuncionario(usuario)"
                      >
                        Selecionar
                      </button>
                    </td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.email }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                  [collectionSize]="collectionSize"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  (pageChange)="refreshUsuarios()"
                >
                </ngb-pagination>
                <select
                  class="custom-select"
                  style="width: auto"
                  [(ngModel)]="pageSize"
                  (ngModelChange)="refreshUsuarios()"
                >
                  <option [ngValue]="5">5 itens por página</option>
                  <option [ngValue]="10">10 itens por página</option>
                  <option [ngValue]="20">20 itens por página</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-success" awNextStep>
              Avançar
            </button>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Servico'">
      <div class="centered-content">
        <div class="card">
          <div class="card-header">
            <div [formGroup]="formulario" class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Funcionario </label>
                  <input
                    class="form-control"
                    readonly
                    placeholder=""
                    type="text"
                    value="{{ funcionario?.nome }}"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Serviço </label>
                  <input
                    class="form-control"
                    readonly
                    placeholder=""
                    type="text"
                    value="{{ servico?.nome }}"
                  />
                </div>
              </div>
            </div>
            <h4 class="title">Escolha Serviço</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let coluna of colunasServico" scope="col">
                      {{ coluna }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servico of servicos">
                    <td>
                      <button
                        type="button"
                        class="btn-sm btn-success"
                        (click)="selecionarServico(servico)"
                      >
                        Selecionar
                      </button>
                    </td>
                    <td>{{ servico.nome }}</td>
                    <td>{{ servico.categoria }}</td>
                    <td>{{ servico.descricao }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                  [collectionSize]="collectionSizeS"
                  [(page)]="pageS"
                  [pageSize]="pageSizeS"
                  (pageChange)="refreshServico()"
                >
                </ngb-pagination>
                <select
                  class="custom-select"
                  style="width: auto"
                  [(ngModel)]="pageSizeS"
                  (ngModelChange)="refreshServico()"
                >
                  <option [ngValue]="5">5 itens por página</option>
                  <option [ngValue]="10">10 itens por página</option>
                  <option [ngValue]="20">20 itens por página</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-fill btn-danger"
              awPreviousStep
            >
              Back
            </button>
            <button type="button" class="btn btn-success" awNextStep>
              Avançar
            </button>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Finalizar'">
      <div class="centered-content">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Conclusão</h4>
          </div>
          <div class="card-body">
            <div [formGroup]="formulario" class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Funcionario </label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="text"
                    value="{{ funcionario?.nome }}"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Serviço </label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="text"
                    value="{{ servico?.nome }}"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-fill btn-danger"
              awPreviousStep
            >
              Back
            </button>
            <button
              type="button"
              class="btn btn-fill btn-success"
              (click)="onSubmit()"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>
