<div class="centered-content">
  <div class="card">
    <div class="card-header">
      <h5 class="title">{{servicoIn?.nome}}</h5>
    </div>
    <div class="card-body">
      <button type="submit" class="btn btn-fill btn-success" *ngIf="botaoAdicionar" (click)="adicionar()">Adicionar</button>
      <div *ngIf="!botaoAdicionar" class="card">
        <div class="card-header">
          <h4 class="card-title">Formulário Escala</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-md-5">
                <div class="form-group">
                  <label> Dia Semana </label>
                  <select class="form-control" formControlName="diaSemana">
                    <option *ngFor="let day of daysWeek" [value]="day">{{day}}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-success" [disabled]="!formulario.valid" (click)="onSubmit()">
            Salvar
          </button>
          <button type="submit" class="btn btn-fill btn-danger"  (click)="adicionar()">
            Cancelar
          </button>
        </div>
      </div>
      <app-escala-list></app-escala-list>
    </div>

  </div>
</div>

