<div class="content">
  <div class="centered-content">
    <div class="card">
      <div class="card-header">
        <h3>Funcionário : {{ funcionario?.nome }}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3>Serviços do Sistema</h3>
              </div>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div *ngIf="!loading" class="table-responsive">
                <table class="table tablesorter" id="">
                  <thead class="text-primary">
                    <tr>
                      <th *ngFor="let coluna of colunasServico" scope="col">
                        {{ coluna }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="listempy">
                      <td id="tdvazio" colspan="4">VAZIO</td>
                    </tr>
                    <tr *ngFor="let servico of servicos">
                      <td>{{ servico.nome }}</td>
                      <td>{{ servico.categoria.nome }}</td>
                      <td>
                        <button type="button" class="btn-sm btn-info" (click)="adicionarServico(servico)">
                          Adicionar <i class="fas fa-arrow-right"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshServico()">
                  </ngb-pagination>
                  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshServico()">
                    <option [ngValue]="2">2 itens por página</option>
                    <option [ngValue]="4">4 itens por página</option>
                    <option [ngValue]="6">6 itens por página</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3>Serviços do {{ funcionario?.nome }}</h3>
              </div>
              <div *ngIf="loading2" class="text-center">
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div *ngIf="!loading2" class="table-responsive">
                <table class="table tablesorter" id="">
                  <thead class="text-primary">
                    <tr>
                      <th *ngFor="let coluna of colunasServico" scope="col">
                        {{ coluna }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="listempy2">
                      <td id="tdvazio" colspan="4">VAZIO</td>
                    </tr>
                    <tr *ngFor="let servicoF of servicosFuncionario">
                      <td>
                        <button type="button" class="btn-sm btn-danger" (click)="removerServico(servicoF.servico)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                      <td>{{ servicoF.servico.nome }}</td>
                      <td>{{ servicoF.servico.categoria.nome }}</td>
                      <td>
                        <button type="button" class="btn-sm btn-info" (click)="redirecionaEscala()">
                          Escala
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination [collectionSize]="collectionSize2" [(page)]="page2" [pageSize]="pageSize2"
                    (pageChange)="refreshServicoFuncionario()">
                  </ngb-pagination>
                  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize2"
                    (ngModelChange)="refreshServicoFuncionario()">
                    <option [ngValue]="2">2 itens por página</option>
                    <option [ngValue]="4">4 itens por página</option>
                    <option [ngValue]="6">6 itens por página</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn-sm btn-danger" (click)="teste()">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
