<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">{{ titulo }}</h5>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" (ngSubmit)="onSave()">
    <div class="row">
      <div class="col-md-10">
        <label> Data </label>
        <input class="form-control" type="date" [(ngModel)]="data" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label> Servico </label>
        <select class="form-control" [(ngModel)]="agendamento.servico">
          <option *ngFor="let servico of servicos" [ngValue]="servico.id">
            {{ servico.nome }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label> Horario Inicio </label>
          <input class="form-control" type="time" [(ngModel)]="hrInicial" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label> Horario Fim </label>
          <input class="form-control" type="time" [(ngModel)]="hrInicial" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id="login" type="submit" class="btn btn-success" (click)="onSave()">
    Login
  </button>
  <button type="button" class="btn btn-warning" (click)="onClose()">
    Cancelar
  </button>
</div>
