<div class="content">
  <div class="card">
    <div class="card-header">
      <button
        class="btn btn-sm"
        style="margin-left: 0ch"
        (click)="voltarPagina()"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <a style="font-size: 1.4rem"> Status Agendamentos</a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="text-center" id="cards">
            <div class="card-body">
              <label style="font-size: 1.2rem"> Status </label>
              <select
                (change)="selecionarStatus()"
                class="form-control"
                data-selectpicker
                [(ngModel)]="statusSelect"
                name="status"
              >
                <option *ngFor="let status of listaStatus" [ngValue]="status">
                  {{ status }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!hide" class="text-center">
        <p>Selecione um Status</p>
      </div>
      <div *ngIf="!loading" class="table-responsive">
        <table class="table tablesorter" id="">
          <thead class="text-primary">
            <tr>
              <th>Data</th>
              <th>Horario</th>
              <th>Cliente</th>
              <th>Serviço</th>
              <th>Status</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agendamento of listaAgendamentos">
              <td>{{ trimData(agendamento.horarioInicio) }}</td>
              <td>
                {{ trim(agendamento.horarioInicio) }} -
                {{ trim(agendamento.horarioFim) }}
              </td>
              <td>{{ agendamento.cliente.nome }}</td>
              <td>
                {{ agendamento.servicoFuncionario.servico.nome }}
              </td>
              <td>{{ agendamento.status }}</td>
              <td>
                <button class="btn btn-sm" (click)="editar(agendamento.id)">
                  <i class="fas fa-info-circle"></i> Info
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refresh()"
          >
          </ngb-pagination>

          <select
            class="custom-select"
            style="width: auto"
            [(ngModel)]="pageSize"
            (ngModelChange)="refresh()"
          >
            <option [ngValue]="5">5 itens por página</option>
            <option [ngValue]="10">10 itens por página</option>
            <option [ngValue]="15">15 itens por página</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
