<div class="content">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Atendimento</h2>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <p>
            Olá <u>{{ loginReturn.nome }}</u> você esta no módulo de Atendimentos.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card" id="cards">
            <div class="card-body">
              <h3 class="card-title">
                Meus Atendimentos
                <button class="btn btn-link">
                  <i class="fas fa-user-circle"></i>
                </button>
              </h3>
              <p class="card-text">
                Visualize seus atendimentos
              </p>
              <a routerLink="" class="card-link">meu perfil</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
