<div class="centered-content">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h4 class="title">SELCIONE SERVIÇOS PARA MONTAR/VISUALIZAR ESCALA</h4>
          <h4>
            Funcionário :
            <span class="badge-larg badge-pill badge-info">{{
              funcionario?.nome
            }}</span>
          </h4>
        </div>
        <div class="card-body">
          <div *ngIf="loading" class="d-flex justify-content-center">
            <div
              class="spinner-border text-primary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngIf="!loading" class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th *ngFor="let coluna of colunas" scope="col">
                    {{ coluna }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicoF of lista">
                  <td>
                    <input
                      type="checkbox"
                      id="{{ servicoF.servico.id }}"
                      name="idServico"
                      (change)="
                        onChange(servicoF.servico, $event.target.checked)
                      "
                    />
                  </td>
                  <td>{{ servicoF.servico.nome }}</td>
                  <td>{{ servicoF.servico.descricao }}</td>
                  <td>{{ servicoF.servico.categoria.nome }}</td>
                  <td>
                    <button
                      class="btn btn-link"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="Info!"
                    >
                      <i class="fas fa-info-circle"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshListServico()"
              >
              </ngb-pagination>
              <select
                class="custom-select"
                style="width: auto"
                [(ngModel)]="pageSize"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="refreshListServico()"
              >
                <option [ngValue]="5">5 itens por página</option>
                <option [ngValue]="10">10 itens por página</option>
                <option [ngValue]="20">20 itens por página</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            <button
              [disabled]="!selecionado"
              type="button"
              class="btn btn-success"
              (click)="next()"
              awNextStep
            >
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="card text-center card-blue">
            <div class="card-body">
              <h4 class="card-title">Escolha os serviços</h4>
              <i id="iconbig" class="fas fa-tasks"></i>
            </div>
          </div>
          <p>
            Estes são os serviços do <u>{{ funcionario?.nome }}</u>
            disponiveis para montar uma escala.
          </p>
          <p>
            Avance para visualizar e editar as escalas dos servicos
            selecionados.
          </p>

          <button class="btn btn-link" (click)="addServicos()">
            <u>Adicionar Serviços</u>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
