<div class="content">
  <div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand navbar">
        <div class="collapse navbar-collapse" id="textoNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              Home <span class="sr-only">(Página atual)</span>
            </li>
          </ul>
          <button
            *ngIf="!logado"
            class="btn btn-sm btn-secondary pull-right"
            (click)="logar()"
          >
            LOGAR
          </button>
          <button
            *ngIf="logado"
            class="btn btn-sm btn-secondary pull-right"
            (click)="perfil()"
          >
            PERFIL
          </button>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <!-- Rectangular switch -->
      <!--<label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>-->
      <!-- Rounded switch -->
      <!--<label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>-->

      <p>Bem vindo ao Agenda Online!</p>
      <simple-notifications></simple-notifications>

      <p>Usuario ADMIN para teste <br />cpf: 999.999.999-99 <br />senha: 123</p>
      <br />
      <p>Usuario Comum para teste <br />cpf: 111.111.111-11 <br />senha: 132</p>
      <br />

      <div>
        <button class="btn px-3" (click)="agendar()">
          <i class="far fa-calendar-alt pr-2"></i> Agendar Horário
        </button>
      </div>
      <!--<div>
        <div>
          <button class="btn px-3" (click)="conectar()">conectar</button>
        </div>
        <div>
          <button class="btn px-3" (click)="desconectar()">Desconectar</button>
        </div>
        <div>
          <button class="btn px-3" (click)="start()">Start(ouvir)</button>
        </div>
        <div>
          <button class="btn px-3" (click)="stop()">Stop(ouvir)</button>
        </div>
      </div>-->
    </div>
  </div>
</div>
