<div class="content">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">HOME <i class="fas fa-desktop"></i></h4>
    </div>
    <div class="card-body">
      <p>home works!</p>
      <!-- Rectangular switch -->
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>

      <!-- Rounded switch -->
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>

      <div class="spinner-border text-primary"></div>

      <simple-notifications></simple-notifications>

      <p>Usuario ADMIN para teste <br />cpf: 999.999.999-99 <br />senha: 123</p>
      <br />
      <p>Usuario Comum para teste <br />cpf: 111.111.111-11 <br />senha: 132</p>
    </div>
  </div>
</div>
