<div class="card">
  <div class="card-header">
    <h4 class="card-title">Horários : {{escala?.diaSemana}}</h4>
  </div>
  <div class="card-body">
    <div *ngIf=loading class="d-flex justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf=!loading class="table-responsive">
      <table class="table tablesorter" id="">
        <thead class="text-primary">
          <tr>
            <th *ngFor="let coluna of colunas" scope="col">
              {{ coluna }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="listempy">
            <td id="tdvazio" colspan="4">VAZIO</td>
          </tr>
          <tr *ngFor="let itenEscala of itensEscala; let i = index">
            <td scope="row">{{ i+1 }}</td>
            <td>{{ itenEscala.qtd }}</td>
            <td>{{ itenEscala.hrInicial }}</td>
            <td>{{ itenEscala.hrFinal }}</td>
            <td>
              <button class="btn btn-info btn-icon" (click)="onEdit(itenEscala.id)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-warning btn-icon" (click)="onDelete(itenEscala.id)">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="refresh()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="btn-group">
    <button type="button"class="btn btn-fill btn-danger" awPreviousStep>Back</button>
    <button [disabled]="!selecionadoEtapa2" type="button" class="btn btn-fill btn-success" awNextStep>Continue</button>
  </div>
</div>
