<div class="content">
  <div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand navbar">
        <a class="navbar-brand">Agendamentos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-sm btn-secondary" (click)="agendaHoje()">
              Agenda do Dia
            </button>
            <input (change)="agendaDia($event.target.value)" class="form-control mr-sm-2" type="date" name="data"
              aria-label="Search" />
            <i class="tim-icons icon-zoom-split"> </i>
            <span class="d-lg-none d-md-block"> Search </span>
          </form>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div>
              <button type="button" class="btn btn-secundary btn-sm" (click)="voltar()">
                <i class="fas fa-arrow-left"></i>
              </button>
            </div>
          </div>
          <div *ngFor="let agds of agendamentos$ | async; let i = index" class="col-auto">
            <div class="card card-blue">
              <div class="card-header text-center">{{ colunas[i] }}</div>
              <div class="card-body">
                <table class="table tablesorter" id="">
                  <thead class="text-primary">
                    <tr>
                      <!--<th id="tdhead" *ngFor="let coluna of colunas" scope="col">{{ coluna }}</th>-->
                      <th>ID</th>
                      <th>HORÁRIO</th>
                      <th>CLIENTE</th>
                      <th>SERVIÇO</th>
                      <th>STATUS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="empy">
                      <td id="tdvazio" colspan="4">VAZIO</td>
                    </tr>
                    <tr *ngFor="let agd of agds; let j = index">
                      <td>{{agd.id}}</td>
                      <td>
                        {{ trim(agd.horarioInicio) }}-{{ trim(agd.horarioFim) }}
                      </td>
                      <td>{{ agd.cliente.nome }}</td>
                      <td>{{ agd.servicoFuncionario.servico.nome }}</td>
                      <!--<td><span class="badge badge-warning" (click)="editar(agd.id)">{{agd.status}}</span>-->
                      <td>
                        <button [ngClass]="aplicaCss(agd.status)" class="btn btn-sm" (click)="editar(agd.id)">
                          {{ agd.status }}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div>
              <button type="button" class="btn btn-secundary btn-sm" (click)="avancar()">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
