<div class="content">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Agendamentos</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngIf="!admin" class="col">
          <div class="card" id="cards">
            <div class="card-body">
              <h3 class="card-title">
                Meus Agendamentos
                <button class="btn btn-link">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </h3>
              <p class="card-text">Visualize e acompanhe seus agendamentos.</p>
              <a routerLink="" class="card-link">meus agendamentos</a>
            </div>
          </div>
        </div>
        <!--<div *ngIf="admin" class="col">
          <div class="card" id="cards">
            <div class="card-body">
              <h3 class="card-title">
                Meus Agendamentos
                <button class="btn btn-link">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </h3>
              <p class="card-text">
                Visualize e acompanhe seus agendamentos (como cliente).
              </p>
              <a routerLink="" class="card-link">meus agendamentos</a>
            </div>
          </div>
        </div>-->
        <div *ngIf="admin" class="col">
          <div class="card" id="cards">
            <div class="card-body">
              <h3 class="card-title">
                Meus Agendamentos
                <button class="btn btn-link">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </h3>
              <p class="card-text">Visualize e acompanhe seus agendamentos.</p>
              <a routerLink="/agendamentoView" class="card-link"
                >meus agendamentos</a
              >
            </div>
          </div>
        </div>
        <div *ngIf="admin" class="col">
          <div class="card" id="cards">
            <div class="card-body">
              <h3 class="card-title">
                Novo agendamento
                <button class="btn btn-link">
                  <i class="fas fa-calendar-plus"></i>
                </button>
              </h3>
              <p class="card-text">Adicione um novo agendamento.</p>
              <a routerLink="/agendamento/novo" class="card-link"
                >novo agendamento</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
