<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h4>Etapa 4 - Confirmação</h4>
    </div>
    <div class="card-body">
      <div class="card card-blue">
        <div class="card-body">
          <p>Resumo do Agendamento.</p>
          <p>"Agendar" para finalizar.</p>
          <p>"Voltar" para editar alguma informação.</p>
        </div>
      </div>
      <div class="card card-blue">
        <form>
          <div>
            <label>Funcionário</label>
            <input
              class="form-control"
              type="text"
              name="funcionario"
              [(ngModel)]="agendamento?.servicoFuncionario.funcionario.nome"
              readonly
            />
          </div>
          <div>
            <label>Cliente</label>
            <input
              class="form-control"
              type="text"
              name="nome"
              [(ngModel)]="agendamento?.cliente.nome"
              readonly
            />
          </div>
          <div>
            <label>Serviço</label>
            <input
              class="form-control"
              type="text"
              name="servico"
              [(ngModel)]="servicoFuncionario?.servico.nome"
              readonly
            />
          </div>
          <div>
            <label>Data</label>
            <input
              readonly
              class="form-control"
              type="date"
              name="data"
              [(ngModel)]="data"
            />
          </div>
          <div>
            <label>Horario</label>
            <input
              readonly
              class="form-control"
              type="time"
              [(ngModel)]="hora"
              name="hora"
            />
          </div>
          <div>
            <label>Receber Notificações</label>
            <label class="switch">
              <input
                disabled
                *ngIf="agendamento"
                [(ngModel)]="agendamento.notificacao"
                type="checkbox"
                id="notificacao"
                name="box"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label>Observação</label>
            <textarea
              readonly
              style="min-width: 50%"
              class="form-control"
              *ngIf="agendamento"
              [(ngModel)]="agendamento.obs"
              name="obs"
            ></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <button awPreviousStep type="button" class="btn btn-warning">
          <i class="fas fa-arrow-left"></i>Voltar
        </button>
        <button type="button" class="btn btn-success" (click)="onSave()">
          Agendar <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
