<div class="content">
  <div class="card">
    <div class="card-header">
      <h4 class="title">Agendamento</h4>
    </div>
    <div class="card-body">
      <div class="card card-blue">
        <div class="card-header">Dados Agendamento</div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col">
                <label> Funcionário </label>
                <input readonly class="form-control" type="text" name="funcionario" [(ngModel)]="
                    agendamento.servicoFuncionario.funcionario.nome
                  " />
              </div>
              <div class="col-md-3">
                <label> Status </label>
                <input readonly class="form-control" type="text" name="status" [(ngModel)]="agendamento.status" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> Servico </label>
                <input readonly class="form-control" name="servico" type="text" name="servico" [(ngModel)]="
                    agendamento.servicoFuncionario.servico.nome
                  " />
              </div>
              <div class="col-md-6">
                <label> Cliente </label>
                <input readonly class="form-control" type="text" name="cliente"
                  [(ngModel)]="agendamento.cliente.nome" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label> Data </label>
                <input readonly class="form-control" type="date" name="data"
                  value="{{ trimData(agendamento.horarioInicio) }}" />
              </div>
              <div class="col">
                <div class="form-group">
                  <label> Horario Inicio </label>
                  <input readonly class="form-control" type="time" name="horaInicial" value="{{
                      trimHora(agendamento.horarioInicio)
                    }}" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label> Horario Fim </label>
                  <input readonly class="form-control" type="time" name="hrFinal" name="horaFinal"
                    value="{{ trimHora(agendamento.horarioFim) }}" />
                </div>
              </div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col">
                <label> Observação </label>
                <textarea readonly class="form-control" type="text" name="agendamento.obs"
                  [(ngModel)]="agendamento.obs"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!hideAtendimento" class="row">
        <div class="col">
          <div class="card card-blue">
            <div class="card-body">
              <div class="row">
                <div class="col-md-auto">
                  <label>Inicio Atendimento</label>
                  <input readOnly style="margin-left: 0" class="form-control time" type="time" name="inicioAtendimento"
                    [(ngModel)]="inicioAtendimento" />
                </div>
                <div class="col-md-auto">
                  <label>Fim Atendimento</label>
                  <input readOnly style="margin-left: 0" class="form-control time" type="time" name="fimAtendimento"
                    [(ngModel)]="fimAtendimento" />
                </div>
                <div class="col-md-auto">
                  <label>Nota Avaliação</label>
                  <p style="text-align: center">
                    <button class="btn btn-link" (click)="onRatingStar(false, true)">
                      {{this.avaliacao?.notaCliente}} <i class="fas fa-star"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button style="margin-left: 10px" class="btn-sm btn-fill btn-danger" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>
</div>
