<div class="content">
  <div>
    <app-home-escala (eventoHide)="changeVisible($event)"></app-home-escala>
  </div>
  <aw-wizard *ngIf="visible" #wizard [navBarLayout]="'large-empty-symbols'">
    <aw-wizard-step [stepTitle]="'SERVIÇO'">
      <app-servico-escala-form (eventoServico)="setServico($event)"></app-servico-escala-form>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Escala'">
      <div class="centered-content">
        <div class="card">
          <div class="card-header">
            <h5 class="title">ESTAPA 02</h5>
          </div>
          <div class="card-body">
            <app-escala-form ></app-escala-form>
            <app-escala-list></app-escala-list>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
              <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
            </div>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Steptitle 3'">
      <div class="centered-content">
        <div class="card">
          <div class="card-header">
            <h5 class="title">ESTAPA 03</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label> Nome </label>
              <input class="form-control" placeholder="Nome" type="text" />
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
              <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
            </div>
          </div>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>
