<div class="content">
  <div>
    <app-home-escala (eventoHide)="changeVisible($event)"></app-home-escala>
  </div>
  <aw-wizard *ngIf="visible" #wizard [navBarLayout]="'large-empty-symbols'">
    <aw-wizard-step [stepTitle]="'SERVIÇO'">
      <app-servico-escala-form [funcionarioId]="funcionarioId" [funcionarioNome]="funcionarioNome">
      </app-servico-escala-form>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Dia Escala'">
      <app-escala-list></app-escala-list>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Horario Escala'">
      <app-item-escala-form></app-item-escala-form>
    </aw-wizard-step>
  </aw-wizard>
</div>
