<div class="content">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Tabela Usuario</h4>
    </div>
    <div class="card-body">
      <div *ngIf=loading class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf=!loading class="table-responsive">
        <table class="table tablesorter" id="">
          <thead class="text-primary">
            <tr>
              <th *ngFor="let coluna of colunas" scope="col">
                {{ coluna }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td scope="row">{{ usuario.id }}</td>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.cpf }}</td>
              <td>{{ usuario.sexo }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.telefone }}</td>
              <td>{{ usuario.whatsapp }}</td>
              <td>
                <button class="btn btn-info btn-icon" (click)="onEdit(usuario.id)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-warning btn-icon" (click)="onDelete(usuario.id)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshUsuarios()">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsuarios()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
