<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Horario Escala</h5>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-md-3">
        <label> Hora Inicio </label>
        <input
          class="form-control"
          placeholder="0"
          type="time"
          name="hrInicial"
          [(ngModel)]="itemEscala.hrInicial"
        />
      </div>
      <div class="col-md-3">
        <label> Hora Fim </label>
        <input
          class="form-control"
          placeholder="00:00"
          type="time"
          [(ngModel)]="itemEscala.hrFinal"
          name="hrFinal"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id="login" type="submit" class="btn btn-info" (click)="onSubmit()">
    Salvar
  </button>
  <button type="button" class="btn btn-warning" (click)="onClose()">
    Cancelar
  </button>
  <button
    (click)="onDelete()"
    type="button"
    class="btn btn-warning btn-icon"
    data-toggle="tooltip"
    title="Excluir"
  >
    <i class="far fa-trash-alt"></i>
  </button>
</div>
