<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Horario Escala {{escalaIn?.diaSemana}}</h5>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3">
        <label> Hora Inicio </label>
        <input class="form-control" placeholder=" " type="time" formControlName="hrInicial" />
      </div>
      <div class="col-md-3">
        <label> Hora Fim </label>
        <input class="form-control" placeholder=" " type="time" formControlName="hrFinal" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id='login' type="submit" class="btn btn-success" (click)="onSubmit()">
    Login
  </button>
  <button type="button" class="btn btn-warning" (click)="onClose()">
    Cancelar
  </button>
</div>
