<div class="container" *ngIf="!visible">
  <div class="card text-center">
    <div class="card-header">Ajuda !</div>
    <div class="card-body">
      <div class="card-deck">
        <div class="card card-blue">
          <div class="card-body">
            <h5 class="card-title">Escolha serviços</h5>
            <i class="fas fa-tasks"></i>
          </div>
        </div>
        <div class="card card-blue">
          <div class="card-body">
            <h5 class="card-title">Monte Suas Escalas</h5>
            <i class="far fa-calendar-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary" (click)="iniciar()">
        Ocultar
      </button>
    </div>
  </div>
</div>
