<div class="content">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-sm" style="margin-left: 0ch" (click)="voltarPagina()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <a style="font-size: 1.2rem" class="title"> Minhas Avaliações</a>
    </div>
    <div class="card-body ">
      <p>Estes são seus Atendimentos que foram avaliados</p>

      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading" class="table-responsive">
        <table class="table tablesorter" id="">
          <thead class="text-primary">
            <tr>
              <th>Data</th>
              <th>Hora</th>
              <th>Serviço</th>
              <th>detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let avaliacao of avaliacoes">
              <td>{{ trimData(avaliacao.atendimento.agendamento.horarioInicio) }}</td>
              <td>{{ trim(avaliacao.atendimento.agendamento.horarioInicio) }}</td>

              <td>{{ avaliacao.atendimento.agendamento.servicoFuncionario.servico.nome }}</td>

              <td>
                <button class="btn btn-sm">
                  <i class="fas fa-info-circle"></i> Info
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refresh()">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
            <option [ngValue]="5">5 itens por página</option>
            <option [ngValue]="10">10 itens por página</option>
            <option [ngValue]="20">20 itens por página</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
