.custom-control-input + label:before {
  background: gray;
  border: 1px solid white;
}
.custom-control-input:checked + label:before {
  background: blue;
}
.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}
